@page "/links"
@inject ILiffClient Liff
@inject IJSRuntime JSRuntime

<button class="form-control btn btn-primary" @onclick="OnClickButtonLiff">LIFF APIリファレンス</button>
<button class="form-control btn btn-secondary" @onclick="OnClickButtonGithub">liff-app-on-blazor: Github</button>
<hr />
<button class="form-control btn btn-dark" @onclick="OnClickButtonClose">Close Window</button>

@code
{
    private async Task OnClickButtonLiff()
    {
        await Liff.OpenWindow("https://developers.line.biz/ja/reference/liff/", external: false);
    }

    private async Task OnClickButtonGithub()
    {
        await Liff.OpenWindow("https://github.com/pierre3/liff-app-on-blazor", external: true);
    }

    private async Task OnClickButtonClose()
    {
        await Liff.CloseWindow();
    }
}